:root {
  --font-type: 'Fira Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  font-family: var(--font-type);
  font-weight: 600;
  border-bottom: 3px solid grey;
}

p {
  font-family: var(--font-type);
  font-weight: 200;
  width: 50%;
  text-align: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 20px;
  margin: 0 -20px;
  position: relative;
}

.score:after {
  position: absolute;
  top: 5%;
  left: -5%;
  background: black;
  content: '';
  width: 110%;
  height: 2px;
}
.score:before {
  position: absolute;
  bottom: 5%;
  left: -5%;
  background: black;
  content: '';
  width: 110%;
  height: 2px;
}

.score h2 {
  margin: 5px;
  padding: 0;
  font-family: var(--font-type);
  font-weight: 200;
}
