:root {
  --card-width: 100px;
  --card-height: 200px;
}

.pokemon-card {
  height: auto;
  width: var(--card-width);
  min-height: 150px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pokemon-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

/* card shadow effect from https://codepen.io/sdthornton/pen/wBZdXq */

.pokemon-image {
  max-width: 100%;
  max-height: 100%;
}
